    <div id="wrapper">
        <app-header></app-header>

        <div class="page-title wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <h2><i class="fa fa-leaf bg-green"></i> Category by: {{ category }}</h2>
                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">{{ category }}</li>
                        </ol>
                    </div><!-- end col -->                    
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end page-title -->

        <section class="section wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-list clearfix">

                                <hr class="invis">

                                <div class="blog-box row" *ngFor="let post of categoryPosts">
                                    <div class="col-md-4">
                                        <div class="post-media">
                                            <a href="/single-blog/{{ post._id }}" title="">
                                                <img src="{{post.cover}}" alt="" class="img-fluid">
                                                <div class="hovereffect"></div>
                                            </a>
                                        </div><!-- end media -->
                                    </div><!-- end col -->
    
                                    <div class="blog-meta big-meta col-md-8">
                                        <span class="bg-aqua mr-2"><a href="/category?name={{ post.category }}" title="">{{ post.category }}</a></span>
                                        <h4><a href="/single-blog/{{post._id}}" title="">{{post.title}}</a></h4>
                                        <p>{{ post.description }}</p>
                                        <small><a href="garden-category.html" title=""><i class="fa fa-eye"></i>1887</a></small>
                                        <small><a href="/single-blog/{{ post._id }}" title="">{{ post.createdAt | slice:0:10 }}</a></small>
                                        <small><a href="#" title="">by {{post.author}}</a></small>
                                    </div><!-- end meta -->
    
                                </div><!-- end blog-box -->
    

                            </div><!-- end blog-list -->
                        </div><!-- end page-wrapper -->

                        <hr class="invis">

                        <div class="row">
                            <div class="col-md-12">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-start">
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <app-sidebar></app-sidebar>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        <app-footer></app-footer>

        <div class="dmtop">Scroll to Top</div>
        
    </div><!-- end wrapper -->
